.about-container.l-container--full.l-section
  .about
    .about__img
      img(src="./imgs/selfie.png")
    p.about__description
      | Hola, mi nombre es Littman Tolenttino y aunque no es mi nombre completo creo que comercialmente suena bien, soy Fotógrafo, hoy puedo decir que lo soy, es que siempre he fotografiado desde adolescente con la camarita que fuere, no tenía cámaras, pero me las prestaba o me pedían que yo tome la foto de grupo, esas cámaras de rollo las que se rebobinaban manualmente, creo que todos llevamos un niño dentro y también un fotógrafo empedernido y apasionado, pero hoy puedo decir que lo soy porque estudié para serlo. No interesa en qué lugar, el costo, la infraestructura, no interesa el color del cabello de tus compañeros, interesaba mi deseo de aprender únicamente, lo que se siente cuando tienes el control de la cámara, como dice <cite>McCulling</cite>: “La fotografía para mí no es mirar, es sentir”.
