if currentPage != 'inicio'
  .footer.l-container--full
    .l-container--row
      p &copy; Littman Tolenttino
      .social-networks
        a(href="https://www.facebook.com/littmantolenttinofotofrafodebodas/" target="_blank").icon-facebook
        a(href="https://twitter.com/LittmanBodas" target="_blank").icon-twitter
        a(href="https://www.instagram.com/littmantolenttino/" target="_blank").icon-instagram
        a(href="https://vimeo.com/user17280233" target="_blank").icon-vimeo
else 
  .footer-index.l-container--full
    .l-container--row
      p.right &copy; Littman Tolenttino
      .social-networks
        a(href="https://www.facebook.com/littmantolenttinofotofrafodebodas/" target="_blank").icon-facebook
        a(href="https://twitter.com/LittmanBodas" target="_blank").icon-twitter
        a(href="https://www.instagram.com/littmantolenttino/" target="_blank").icon-instagram
        a(href="https://vimeo.com/user17280233" target="_blank").icon-vimeo