.rec-gallery
  -for (var i = 0; i < 8; i++)
    if i == 0
      .rec-gallery__item
        img(src="/imgs/recientes/rec"+i+".jpg").rec-gallery__img
      .oferta-content
        h1 ¡Promoción día de mamá!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea et eaque debitis dolorem sequi accusamus corporis autem commodi dolorum aliquam facere molestias, obcaecati vel quam, nulla, doloribus sint officiis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates perferendis quasi aliquam nobis voluptatem unde nulla? Vitae modi, architecto ipsa delectus fuga dicta recusandae doloribus fugit numquam illo, accusamus voluptate?.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima aperiam consequatur suscipit facere assumenda est fugiat iure quas maiores ipsam possimus tenetur, sit, magnam voluptatum labore. Blanditiis, dolorum eligendi. Eaque?
    else
      .rec-gallery__item
        img(src="/imgs/recientes/rec"+i+".jpg").rec-gallery__img