.sistema
  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti harum aperiam fugiat dolores quas perferendis earum numquam nostrum eveniet sed? Voluptatibus ratione maxime blanditiis vero similique. Ipsa quisquam ratione possimus?
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et rem consectetur voluptate deserunt totam, distinctio, veritatis cupiditate nostrum, dolorum dolores labore. Voluptas saepe ratione, quaerat necessitatibus repellendus libero veniam possimus!
  img(src="./imgs/sistema.jpg", alt="" class="sistema__img")
  p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic in dolorum consequatur, eaque facere necessitatibus sunt inventore earum voluptate molestias. Voluptate nostrum minima ad veniam dolor consectetur velit ut deserunt?