extends templates/template.pug

append config
  -pageTitle = 'Bodas'
  -currentPage = 'bodas'

block main
  .portafolio#bodas

block footer
  include blocks/footer

block assets
  include blocks/scripts