extends templates/template

append config
  -pageTitle = 'Omar + Karen'
  -currentPage = 'prebodas'

block main
  .row
    a(class="btn lg ghost" href="./bodas.html" name="6")#titleBoda Volver a Bodas
  .gallery#galeria-bodas

block footer
  include blocks/footer

block assets
  include blocks/scripts