extends templates/template.pug

append config
  -pageTitle = 'Portafolio'
  -currentPage = 'portafolio'

block main
  .portafolio
    each file in portafolios
      if file == 'videos'
        a(href=file+".html" class="img-link")
          img(src="/imgs/"+file+"img.png", alt=file)
      else
        a(href=file+".html" class="img-link")
          img(src="/imgs/"+file+"img.jpg", alt=file)

block footer
  include blocks/footer

block assets
  include blocks/scripts