extends templates/template.pug

append config
  -pageTitle = 'Recientes'
  -currentPage = 'recientes'

block main
  include blocks/banner
  include blocks/recientes
block footer
  include blocks/logo
  include blocks/footer

block assets
  include blocks/scripts